<!DOCTYPE html>

<html lang='en'>

    <head>
        <title> <%= title %></title>
        <meta charset='utf-8'>
        <link rel="stylesheet", href="../public/stylesheets/style.css">
    </head>

    <body>
        <div class="vertical-nav-bar">
            <ul class="nav-list">
                <li href="/catalog">Home</li>
                <li href="/catalog/books">View All Books</li>
                <li href="/catalog/authors"> View All Authors</li>
                <li href="/catalog/genres"> View All Genres</li>
                <li href="/catalog/bookinstances"> View All Book-Instances</li>
                <li><a href="/catalog/author/create">Create New Author</a></li>
                <li><a href="/catalog/book/create">Create New Book</a></li>
                <li><a href="/catalog/bookinstance/create">Create New Book Instance</a></li>
                <li><a href="/catalog/genre/create">Create New Genre</a></li>
            </ul>
        </div>
    </body>
</html>